body {
  font-family: Times new roman;
  padding: 20px;
  background: #f1f1f1;
}
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-rigth: 20px;
}
.header {
  padding: 30px;
  text-align: center;
  background: black;
  color: #FF1493;
}
.header h1 {
  font-size: 50px;
}
.topnav {
  overflow: hidden;
  background-color: #FF1493;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.fakeimg {
  background-color: black;
  width: 95%;
  padding: 20px;
}
.fake1img {
  background-color: black;
  width: 90%;
  padding: 20px;
}

.card {
  background-color: white;
  color: #FF1493;
  padding: 20px;
  margin-top: 20px;
}


.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 100px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.container {
  display: flex;
}

img {
  max-width: 16%;
  margin-right: 10px;
}

.card1 {
  background-color: white;
  color: #FF1493;
  padding: 20px;
  margin-top: -3065px;
  margin-left: 20px;
}

.imagem-ampliada {
    max-width: 100%;
  }

.card2 {
  background-color: white;
  color: #FF1493;
  padding: 40px;
  margin-top: 20px;
  margin-left: 20px;
}

.card3 {
  background-color: white;
  color: #FF1493;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.imagem-ampliada1 {
    max-width: 100%;
  }

.button {
  background-color: #FF1493;
  border: none;
  color: white;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  cursor: pointer;
}

.menu { 
  display: flex;
  flex-wrap: weap;
  justify-content: center;
  padding: 20px;
}

.menu-item {
  width:600px
  margin: 15px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  backgraund-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px;
  transition: transform 0.3s ease-in-out;
}

.menu-item:houver {
   transform: scale(1.05);
}

.menu-item img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

footer {
	background-color: black;
	color: #FF1493;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #FF1493;
	text-decoration: none;
}